* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    font-family: sans-serif;
}

#header {
    width: 100%;
    height: 80px;
    background-color: skyblue;
}

#header .container {
    width: 1140px;
    height: 80px;
    margin: 0px auto;
}

#nav {
    margin-top: 80px;
    width: 100%;
    background: #330066;
    height: 50px;
}

#nav .container {
    width: 1140px;
    margin: 0px auto;
}

#nav .container ul.menu {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    float: left;
    width: 700px;
}

#nav .container ul.menu li {
    display: inline-block;
}

#nav .container ul.menu li a {
    text-decoration: none;
    height: 50px;
    display: block;
    line-height: 50px;
    color: gray;
    padding-right: 40px;
}

#nav .container ul.menu li:first-child a {
    color: blue;
}

#nav .form-search {
    width: 400px;
    float: right;
}

#nav .form-search .keyword {
    width: 80%;
    font-size: 16px;
    border: 1px solid #999;
    height: 40px;
    margin-top: 5px;
    text-indent: 15px;
    border-radius: 20px;
    background: transparent;
}

#nav .form-search .btn-search {
    width: 50px;
    height: 25px;
    border: none;
}

#footer {
    background-color: #000;
    height: 120px;
    margin-top: 100%;
    display: flex;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

#footer .img {
    float: left;
    width: 70px;
    height: 50px;
    margin: 0 auto;
    padding: 0;
}

#footer span {
    display: inline-block;
}